body {
    font-family: sans-serif;
}

.hide {
    display: none;
}

.form-group {
    margin-top: 1em;
}

.input-group {
    margin-top: 0.5em;
}

.input-group label,
.input-group input,
.input-group select,
.input-group textarea {
    display: inline-block;
}

.input-group label {
    width: 35%;
    vertical-align: top;
    text-align: right;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 34%;
}

.input-group input[type='checkbox'] {
    width: 1%;
}

.with-computed input,
.with-computed select {
    width: 30%;
}
.with-computed .computed {
    display: inline-block;
    width: 4%;
}

h1, h2, h3, label {
    text-transform: capitalize;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.modal {
    position: fixed;
    background-color: #fff;
    border: 1px solid black;
    z-index: 3;
}

.modal form {
    padding: 10px;
}

.modal header {
    display: grid;
    margin: 0;
    padding-left: 10px;
    background-color: red;
    color: white;
}
